.nvn-accordion {
  @apply nvn-relative;

  &__single {
    @apply nvn-bg-white;

    box-shadow: 0 1px 18px rgba(0, 0, 0, 0.08);

    &:not(:last-child) {
      @apply nvn-mb-5;
    }

    &-head {
      @apply nvn-flex nvn-justify-between nvn-p-10 nvn-cursor-pointer nvn-outline-none;

      &.active {
        ~ .nvn-accordion__content {
          @apply nvn-max-h-screen;
          @apply nvn-pb-16;
        }

        .nvn-accordion__toggleIcon {
          > div {
            &.plus {
              svg {
                opacity: 0;
                transform: rotate(-90deg);
              }
            }

            &.dash {
              svg {
                transform: rotate(0deg);
              }
            }
          }
        }
      }
    }
  }

  &__toggleIcon {
    @apply nvn-relative nvn-w-5 nvn-flex nvn-items-center;

    > div {
      @apply nvn-absolute nvn-right-0;

      svg {
        transition: all 0.3s ease-in-out;
      }

      &.dash {
        svg {
          transform: rotate(90deg);
        }
      }
    }
  }

  &__title {
    font-size: 20px;
    font-family: 'Noto Sans', Helvetica, sans-serif;
    color: #262a2e;
    font-weight: 400;
    margin-bottom: 0;
    flex: 8;
  }

  &__action {
    @apply nvn-flex;

    button {
      background: none;
      border: none;

      img {
        width: 20px;
        height: auto;
      }
    }
  }

  &__content {
    @apply nvn-overflow-hidden nvn-max-h-0 nvn-pl-10 nvn-pr-16;
    @apply nvn-transition-all nvn-ease-in-out;

    font-size: 15px;

    > * {
      @apply nvn-my-0 #{!important};

      &:not(:last-child) {
        @apply nvn-mb-3 #{!important};
      }
    }
  }
}
