.erb-accordion {
  @apply erb-relative;

  &__single {
    @apply erb-bg-white;

    box-shadow: 0 1px 18px rgba(0, 0, 0, 0.08);

    &:not(:last-child) {
      @apply erb-mb-5;
    }

    &-head {
      @apply erb-flex erb-justify-between erb-p-10 erb-cursor-pointer erb-outline-none;

      &.active {
        ~ .erb-accordion__content {
          @apply erb-max-h-screen;
          @apply erb-pb-16;
        }

        .erb-accordion__toggleIcon {
          > div {
            &.plus {
              svg {
                opacity: 0;
                transform: rotate(-90deg);
              }
            }

            &.dash {
              svg {
                transform: rotate(0deg);
              }
            }
          }
        }
      }
    }
  }

  &__toggleIcon {
    @apply erb-relative erb-w-5 erb-flex erb-items-center;

    > div {
      @apply erb-absolute erb-right-0;

      svg {
        transition: all 0.3s ease-in-out;
      }

      &.dash {
        svg {
          transform: rotate(90deg);
        }
      }
    }
  }

  &__title {
    font-size: 20px;
    font-family: 'Noto Sans', Helvetica, sans-serif;
    color: #262a2e;
    font-weight: 400;
    margin-bottom: 0;
    flex: 8;
  }

  &__action {
    @apply erb-flex;

    button {
      background: none;
      border: none;

      img {
        width: 20px;
        height: auto;
      }
    }
  }

  &__content {
    @apply erb-overflow-hidden erb-max-h-0 erb-pl-10 erb-pr-16;
    @apply erb-transition-all erb-ease-in-out;

    font-size: 15px;

    > * {
      @apply erb-my-0 #{!important};

      &:not(:last-child) {
        @apply erb-mb-3 #{!important};
      }
    }
  }
}
