.nvn {
  &-modal {
    @apply nvn-items-center nvn-justify-center;
    @apply nvn-opacity-0 nvn-max-h-0 nvn-overflow-hidden;

    &.active {
      @apply nvn-fixed nvn-inset-0 nvn-flex nvn-opacity-100 nvn-max-h-screen;

      z-index: 999999;

      .nvn-modal__bg {
        @apply nvn-absolute nvn-inset-0 nvn-bg-opacity-60;
      }

      .nvn-modal__content {
        @apply nvn-translate-y-0;
      }
    }

    &__bg {
      @apply nvn-cursor-pointer nvn-bg-black  nvn-bg-opacity-0 nvn-backdrop-blur-sm nvn-backdrop-filter;

      transition: all 300ms ease;
    }

    &__content {
      @apply nvn-bg-white nvn-rounded-md;
      @apply nvn-relative nvn-p-6 nvn-py-8;
      @apply nvn-flex nvn-flex-col nvn-gap-2 nvn-items-center nvn-justify-center;
      @apply nvn-transform nvn--translate-y-4;
      @apply nvn-w-screen nvn-max-w-xs;
      @apply nvn-transition-transform nvn-ease-out;

      > div {
        @apply nvn-w-full;

        > div {
          @apply nvn-flex nvn-flex-col nvn-gap-2;
          @apply nvn-mb-4;
        }
      }

      textarea {
        @apply nvn-py-2;

        padding-left: 0.6rem;
        padding-right: 0.6rem;
        width: 100%;
        max-width: 100%;
      }

      button {
        @apply nvn-cursor-pointer;
        @apply nvn-mt-2 nvn-w-full;
      }

      h3 {
        @apply nvn-mt-0;
      }
    }
  }
}
