@import '../../../scss/components/button';

.nvn-accordion {
  &__title {
    font-size: 20px !important;
    font-family: 'Noto Sans', Helvetica, sans-serif !important;
    color: #262a2e !important;
    font-weight: 400 !important;
    margin: 0 !important;
  }

  &__editor {
    &-add {
      @apply nvn-mb-5;
    }

    &-head {
      @apply nvn-flex nvn-flex-row nvn-justify-between nvn-items-center;

      button {
        @apply nvn-flex nvn-justify-between nvn-items-center nvn-border-none;
        @apply nvn-bg-green-600 hover:nvn-bg-green-700 nvn-text-white nvn-px-4 nvn-py-2 nvn-rounded-md;
        @apply nvn-transition-colors nvn-ease-in-out;
      }

      svg {
        @apply nvn-text-white hover:nvn-text-green-50 nvn-ml-1;
      }
    }
  }

  &__modal {
    @apply nvn-mb-5;

    &-title {
      background: none;
      border: none;
      outline: none;
    }

    &-content {
      @apply nvn-mb-5;

      > * {
        @apply nvn-my-1 #{!important};
      }
    }
  }
}
